html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative; }

body {
  opacity: 1; }

p, a, li, h1, h2, h3, h4, h5, h6, select, span, textarea, input, label, small, button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  line-height: 1.4; }

a {
  text-decoration: none;
  outline: none; }
  a:hover {
    text-decoration: none; }
  a:focus {
    outline: none;
    text-decoration: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

form {
  width: 100%;
  padding: 0 10px; }

input, select, textarea, button {
  border-radius: 4px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  input:focus, select:focus, textarea:focus, button:focus {
    outline: none; }

input, select, textarea {
  width: 100%;
  border: 1px solid #000; }
  input:focus, select:focus, textarea:focus {
    border-color: #333; }

input, select {
  height: 30px;
  padding: 0 5px; }

textarea {
  -webkit-transition: all none ease;
  transition: all none ease;
  resize: vertical;
  padding: 5px; }

label {
  display: block;
  margin-top: 10px;
  margin-bottom: 4px; }

table {
  width: 100%; }

.wrapper {
  display: table;
  height: 100%;
  width: 100%;
  padding: 0px; }

.content {
  display: table-row;
  height: 100%; }
